<nav class="navbar navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SwiftViews</a>
        <ul class="nav justify-content-end">

            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop owners</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-light">LOGIN</button>
            </li>
        </ul>

    </div>

</nav>
<div class="jumbotron">
    <h5>Hello, world!</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid recusandae blanditiis placeat reiciendis dolor, magni aliquam quod ad nam accusamus, explicabo rerum tempora voluptatem adipisci ratione! Nisi, facere! Deleniti rerum dolore
        iste porro quas! Eaque molestiae exercitationem autem consequatur a odit quis similique facere commodi assumenda doloribus, voluptatum repudiandae.

    </p>
    <div class="b1">
        <button type="button" class="btn btn-light" style="color:darkred;">TRY IT FREE</button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px;">SIGN UP</button>

    </div>



</div>
<div class="i">
    <input type="text" class="form-control" placeholder="Search">
</div>
<div class="text1" style="padding-left: 80px;">
    <h4>Need help any of these?</h4>
</div>



<div class="row" style="padding-left: 100px;">
    <div class="card text-white bg-light mb-3" style="width: 18rem;">
        <h3>IPhone</h3>
        <img class="card-img-top" src="../../assets/images/iphone.png" alt="iphone">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    &nbsp; &nbsp;
    <div class="card text-white bg-light mb-3" style="width: 18rem;">
        <h3>Samsung</h3>
        <img class="card-img-top" src="../../assets/images/iphone.png" alt="sumsung">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    &nbsp; &nbsp;
    <div class="card text-white bg-light mb-3" style="width: 18rem;">
        <h3>LG</h3>
        <img class="card-img-top" src="../../assets/images/iphone.png" alt="lg">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    &nbsp; &nbsp;
    <div class="card text-white bg-light mb-3" style="width: 18rem;">
        <h3>Xiaomi</h3>
        <img class="card-img-top" src="../../assets/images/iphone.png" alt="xiaomi">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
